body {
  font-family: Arial, sans-serif;
  padding: 30px;
}

canvas {
  max-width: 900px;
  max-height: 500px;
}

.heatmap-wrapper {
  display: flex;
  /* gap: 6px; */
  margin-top: 16px;
}

.weekday-labels {
  display: grid;
  grid-template-rows: repeat(7, 14px);
  font-size: 10px;
  color: #555;
}

.weekday-labels span {
  line-height: 14px;
}

.heatmap-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, 1.5vw);
  gap: 1.5vw;
}

.heat-cell {
  width: 2vw;
  height: 2vw;
  background: #ebedf0;
  border-radius: 3px;
}